@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");

$primary: #F56F5C;
$secondary: #1C1D31;
$warning: gold;
$navbar-nav-link-padding-x: 1.5rem;
$font-family-sans-serif: 'Josefin Sans', 'Inter', sans-serif;
@import "../node_modules/bootstrap/scss/bootstrap.scss";
$primary: #F56F5C;
$secondary: #1C1D31;

$text-grey: #636262;

body {
  // padding: 3rem 1.5rem;
  font-family: 'Inter', 'Josefin Sans', serif;

  background-color: #f8f9fa;
}

// Style Bootstrap icons
.bi {
  fill: currentcolor;
}

h3, h4 {
  font-family: 'Josefin Sans', serif;
}

.nav-link {
  font-family: 'Josefin Sans', serif;
  font-weight: 600;
font-size: 16px;
line-height: 16px;
}


.top-bar {
  position: absolute;
  width: 100%;
  height: 50px;
  left: 0px;
  top: 0px;
  background: #151932;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.top-bar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.top-bar-info {
  display: flex;
  align-items: center;
  font-family: 'Inter', serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  color: #fff;
  span {
    color: $primary;
  }
}


.active {
  color: $primary;
}

footer {
  background-color: #f8f9fa;
  width: 100%;
  bottom: 0;
  padding: 10px 0 20px 0;
}

.footer-copyright {
  padding: 10px 0;
  font-family: 'Inter', serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 17px;
}

.divider {
  height: 0;
    margin: 0.5rem 0;
    overflow: hidden;
    border-top: 1px solid #e9ecef;
}

.top-bar-info-right {
  display: flex;
  align-items: center;
  font-family: 'Inter', serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  color: #fff;
  div {
    padding: 0 10px;
  }
}

nav {
  top: 50px;
}

.mb-1 span {
  font-family: 'Inter', serif;
  font-size: 12px;
  line-height: 15px;
  color: $text-grey;
}


.subscribe-newsletter-title {
  font-family: 'Josefin Sans', serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 32px;
  color: $secondary;
}

.subscribe-newsletter-info {
  font-family: 'Inter', serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 18px;
  color: $text-grey;
}

.subscription-input {
  font-family: 'Inter', serif;
  font-size: 12px;
  line-height: 18px;  
  color: $text-grey;
}

.subscribe-button {
  font-family: 'Josefin Sans', serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
}

.alert-message {
  display: flex;
  align-items: center;
  background-color: #F1F2F4;
  color: $secondary;
  border: none;
  border-radius: 0;
  font-family: 'Josefin Sans', serif;
  font-weight: 400;
  line-height: 18px;
  font-size: 14px;
  
  a {
    color: $primary;
  }
}


.border-default {
  border: 1px solid #F2F2F2;
}

thead > tr > th {
  border-bottom: 1px solid $primary !important;
}
tbody {
  background-color: #ffffff;
}

.payment-method-description {
  font-family: 'Inter', serif;
  font-size: 14px;
  background-color: #F2F3F5;
  color: #4F4F4F;
  padding: 20px;
}

.btn {
  border-radius: 0;
}

.bg-white {
  background-color: #fff;
}

.btn-primary {
  background-color: $primary;
  color: #ffffff;
}

.form-control {
  border-radius: 0;
}

.bi-check-square-fill::before {
  color: $primary;
}